<p id="notice"><%= notice %></p>

<h1>Plan C</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Week</th>
      <th>Wkday</th>
      <th>Exercise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plancs.each do |planc| %>
      <tr>
        <td><%= planc.week %></td>
        <td><%= planc.wkday %></td>
        <td><%= planc.exercise_id %></td>
        <td><%= link_to 'Show', planc %></td>
        <td><%= link_to 'Edit', edit_planc_path(planc) %></td>
        <td><%= link_to 'Destroy', planc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planc', new_planc_path,class: "btn btn-lg btn-default"  %>
<%= link_to "Back", root_url,class: "btn btn-lg btn-default"  %>
